body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #000000;
    color: rgb(81, 255, 0);
    padding: 20px;
    text-align: center;
}
nav{
    background-color: #5c5c5c;
    padding: 10px;
    text-align: center;
}
nav a{
    color: rgb(47, 255, 0);
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover{
    text-decoration: underline;
}

main {
    padding: 20px;

}
#inicio {
    background-color: #eeff00;
    padding: 15px;
    border-radius: 5px;
}
#sobre {
    background-color: #00df0b;
    padding: 15px;
    border-radius: 5px;
}
#contato {
    background-color: #fbff00;
    padding: 15px;
    border-radius: 5px;
}
#habilidades {
    background-color: #00df0b;
    padding: 15px;
    border-radius: 5px;
}
#jogos {
    background-color: #ffee00;
    padding: 15px;
    border-radius: 5px;
}

.bg-color {
    background-color: #ff0000;

}
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e0dede;
    border-radius: 5px;

}